@import url('https://fonts.googleapis.com/css2?family=Heebo&family=PT+Sans&display=swap');

:root {
    --main-font: 'PT Sans', sans-serif;
    --title-font: 'Heebo', sans-serif;
}

/*
* {
    margin: 0;
    padding: 0;
}
*/

p {
    font-family: var(--main-font);
}

h1 {
    font-family: var(--title-font);
    font-size: 60px;
    color: rgb(47,47,47);
}

h2 {
    font-family: var(--title-font);
}

h3 {
    font-family: var(--title-font);
}

h4 {
    font-family: var(--title-font);
    font-size: 22px;
    margin: 0px;
}

h5 {
    font-family: var(--title-font);
    font-size: 18px;
    text-decoration: line-through;
}

body {
    max-width: 980px;
    margin: auto;
    font-family: var(--main-font);
    /*background-color: rgb(233, 233, 233); колір не точний*/
}

header .header-promo {
    background-image: url(../img/header-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x : 5%;
    background-position-y : 50%;
}

header .logo img {
    width: 114px;
}

header .header-promo-text {
    display: flex;
    flex-direction: column;
    padding: 100px 24px 130px 24px;

}

.buttoms {
    display: flex;
    flex-direction: row;
}

.buttoms a {
    text-decoration: none;
}

.buttoms a img {
    width: 24px;
}

.service {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    align-self: center;
    padding: 0px 24px 0px 24px;
}

@media (min-width: 500px) {
    .service {
        display: grid;
        grid-template-columns: 50px auto 50px auto;
        align-items: center;
        align-self: center;
        padding: 0px 24px 0px 24px;
    }
}

@media (min-width: 900px) {
    .service {
        display: grid;
        grid-template-columns: 50px auto 50px auto 50px auto 50px auto;
        padding: 0px 24px 0px 24px;
    }
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233); /*колір не точний*/
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.service-icon img {
    width: 26px;
}

.service-text {
    padding: 30px 20px 20px 20px;
}

.service-text p {
    font-size: 17px;
    margin: 0px;
}

.featured, .sale, .new {
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-self: center;
}

@media (min-width: 500px) {
    .featured, .sale, .new {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .featured, .sale, .new {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.shop-card {
    border: 2px solid grey;
    margin: 10px 20px 10px 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    font-size: 19px;
}

.shop-card a {
    text-decoration: none;
}

.shop-card a img {
    width: 100%;
    height: auto;
}

.special-offer {
    display: flex;
    flex-direction: column;
}

.special-offer-speakers {
    background-image: url(../img/special-offer-speakers-background.webp);
}

.special-offer-headphones {
    background-image: url(../img/special-offer-headphones-background.webp);
}









/*
p {
    font-family: var(--main-font);
}

h1 {
    font-family: var(--title-font);
}

h2 {
    font-family: var(--title-font);
}

h3 {
    font-family: var(--title-font);
}
*/

/*
header {
    background-image: url(../img/header-back.webp);
    background-size: cover;
    position: relative;
}

.top-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
    background-color: #2a2a2a;
    color: white;
    font-family: var(--main-font);
    font-size: 13px;
    letter-spacing: .1em;
}

.top-contacts div a {
    text-decoration: none;
    color: white;
}

.top-contacts div a:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    padding: 30px 40px 30px 40px;
    justify-content: space-between;
}

header .logo img {
    max-width: 114px;
}

.service {
    background-color: white;
    display: flex;
}

.service img {
    max-width: 90px;
}
*/

/*
#about {
    display: flex;
    flex-direction: column;
}

.about-photo img {
    height: 333px; /*хуєта
}

.about-all-text {
    display: flex;
    flex-direction: column;
    padding: 100px 30px 90px 30px;
}

.about-description {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
    align-self: center;
}

.about-text img {
    height: 32px;
}

.about-description-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255); /*колір не точний
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.about-description-icon img {
    width: 26px;
}

.about-description-text {
    padding: 0px 0px 0px 20px;
}
*/