@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*видалити зайві*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: PT Sans;
	color: #3b3b3b;
}

a {
	text-decoration: none;
}

a span{
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .1em;
}

li {
	list-style: none;
}

/* ---------------------------------------- */

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* ------------------------------------------- */

h1 {
    font-family: Heebo, sans-serif;
    color: rgb(47,47,47);
    line-height: 1.1;
    font-weight: 900;
    font-size: 90px;
}

h2 {
    font-family: Heebo, sans-serif;
    color: rgb(47,47,47);
    line-height: 1.2;
    font-weight: 900;
    font-size: 60px;
}

h3 {
    font-family: Heebo, sans-serif;
    color: #2a2a2a;
    line-height: 1.5;
    font-weight: 700;
    font-size: 22px;
}

.white-text {
    color: #fff;
}

.title{
	color: #2a2a2a;
}

.title span{
}

/* ---------------------------------------- */
.page {
	flex: 1 1 auto;
}

/* ---------------------------------------- */
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

/*----------------------------------------- */

.header {
    background-color: #2a2a2a;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.header-contacts-item {
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 13px;
}

/*---------------------------------------*/


.page {
}
.page-main {
    background-image: url(../img/main/main-background.webp);
    background-repeat: no-repeat;
    background-position-x : 45%;
    background-position-y : 45%;
}
.main {
}
.main__container {
}
.main-hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.hat {

}
.hat-logo {
    width: 114px;
}
.hat-nav {
    display: flex;
}
.hat-nav-item {
    display: flex;
    padding: 15px;
}
.hat-socials {
    display: flex;
}
.hat-socials-item {
    width: 28px;
    height: 28px;
    background-color: rgb(235, 81, 18);
    margin: 6px;
}

/*--------------*/

.main-content {
    padding: 180px 0px 250px 0px;
}
.main-content-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.main-content-buttoms {
    display: flex;
    flex-wrap: nowrap
}

.buttom {
    padding: 25px 30px;
}

.buttom-blue {
    background-color: #2877b6;
}

.buttom-orange-line {
}

.buttom-orange-line img {
    width: 24px;
}

/*--------------------------------*/


.features__container {
    padding: 50px 0 30px 0;

}
.features-items {
    display: flex;
    justify-content: space-around;
}
.features-item {
    display: flex;
    align-items: center;
}

.features-item img {
    width: 40px;
    height: 40px;
}
.features-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.features-item-text {
    padding: 15px;
}

/*------shop------------------------*/

/*----------------------*/

.banner {
}
.banner__container {
    padding: 30px 0 120px;
}
.banner-items {
    display: flex;
}
.banner-speakers {
    background-image: url(../img/speakers-background.webp);
    background-repeat: no-repeat;
    background-position-x : 45%;
    background-position-y : 45%;
    height: 420px;
    width: 75%;
    background-size: cover;
    margin: 0 15px;
}
.buttom-blue-line img {
    width: 24px;
}
.banner-headphones {
    background-image: url(../img/headphones-background.webp);
    background-repeat: no-repeat;
    height: 420px;
    width: 25%;
    background-size: cover;
    margin: 0 15px;
}
.buttom-yellow-line img {
    width: 24px;
}