@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*видалити зайві*/

:root {
    --color-light-shade: #FFFFFF;
    --color-dark-shade: #2A2A2A;
    --color-main-brand: #2877B6;
    --color-light-emphasis: #F2F2F2;
    --color-dark-emphasis: #6C6C6C;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: PT Sans;
	color: var(--color-dark-shade)
}

a {
	text-decoration: none;
}

a span{
    color: var(--color-light-shade);
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .1em;
}

li {
	list-style: none;
}

/* ---------------------------------------- */

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* ------------------------------------------- */

h1 {
    font-family: Heebo, sans-serif;
    color: var(--color-dark-shade);
    line-height: 1.1;
    font-weight: 900;
    font-size: 90px;
}

h2 {
    font-family: Heebo, sans-serif;
    color: var(--color-dark-shade);
    line-height: 1.2;
    font-weight: 900;
    font-size: 60px;
}

h3 {
    font-family: Heebo, sans-serif;
    color: var(--color-dark-shade);
    line-height: 1.5;
    font-weight: 700;
    font-size: 22px;
}

.white-text {
    color: var(--color-light-shade);
}

.title{
	color: var(--color-dark-shade);
}

.title span{
}

/* ---------------------------------------- */
.page {
	flex: 1 1 auto;
}

/* ---------------------------------------- */
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

/*----------------------------------------- */

.header {
    background-color: var(--color-dark-shade);
}

.header-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.header-contacts-item {
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 13px;
}

@media (max-width: 900px) {
    .header {
        display: none;
    }
}

/*---------------------------------------*/


.page {
}
.page-main {
    background-image: url(../img/main/main-background.webp);
    background-repeat: no-repeat;
    background-position-x : 45%;
    background-position-y : 0%;
}
.main {
}
.main__container {
}
.main-hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.hat {

}
.hat-logo {
    width: 114px;
}
.hat-nav {
    display: flex;
}
.hat-nav-item {
    display: flex;
    padding: 15px;
}
.hat-socials {
    display: flex;
}
.hat-socials-item {
    width: 28px;
    height: 28px;
    background-color: rgb(235, 81, 18);
    margin: 6px;
}
@media (max-width: 900px) {
    .page-main {
        background-position-x : 45%;
        background-position-y : 0%;
    }
    .hat-nav {
        display: none;
    }
    .hat-socials {
        display: none;
    }
}

/*--------------*/

.main-content {
    padding: 180px 0 250px 0;
}
.main-content-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    line-height: 5;
}

.main-content-buttoms {
    display: flex;
    flex-wrap: nowrap
}

.buttom {
    padding: 25px 30px;
}

.buttom-blue {
    background-color: #2877b6;
}

.buttom-orange-line {
}

.buttom-orange-line img {
    width: 24px;
}

@media (max-width: 900px) {
    .main-content {
        padding: 180px 0 80px 0;
    }
}

/*--------------------------------*/


.features__container {
    padding-top: 50px;
    padding-bottom: 30px;
}
.features-items {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.features-item {
    display: flex;
    align-items: center;
}

.features-item img {
    width: 40px;
    height: 40px;
}
.features-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-emphasis);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.features-item-text {
    padding: 15px;
}

@media (max-width: 900px) {
    .features-items {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
@media (max-width: 500px) {
    .features-items {
        display: grid;
        grid-template-columns: auto;
    }
}
/*------shop------------------------*/

/*----------------------*/

.banner {
}
.banner__container {
    padding: 30px 0 120px;
}
.banner-items {
    display: flex;
}
.banner-speakers {
    background-image: url(../img/speakers-background.webp);
    background-repeat: no-repeat;
    background-position-x : 45%;
    background-position-y : 45%;
    height: 420px;
    width: 75%;
    background-size: cover;
    margin: 0 15px;
}
.buttom-blue-line img {
    width: 24px;
}
.banner-headphones {
    background-image: url(../img/headphones-background.webp);
    background-repeat: no-repeat;
    background-position-x : 50%;
    background-position-y : 60%;
    height: 420px;
    width: 25%;
    background-size: cover;
    margin: 0 15px;
}
.buttom-yellow-line img {
    width: 24px;
}
@media (max-width: 900px) {
    .banner-items {
        flex-direction: column;
    }
    .banner-speakers {
        width: 100%;
    }
    .banner-headphones {
        margin-top: 30px;
        width: 100%;
        background-position-y : 80%;
    }
}

/*--------------------------*/

.about {
}
.about__container {
}
.about-main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.about-main-image {
    background-image: url(../img/about/about-girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x : 50%;
    background-position-y : 50%;
}
.about-main-content {
    display: grid;
    padding: 125px 15px 115px 15px;
    background-color: var(--color-light-emphasis);
}
.about-main-content img{
    height: 32px;
}
.about-main-content-features {
    display: grid;
    grid-template-columns: auto;
}
.about-main-content-features-item {
    display: grid;
    grid-template-columns: 70px auto;
    padding: 7.5px 0;
}
.about-main-content-features-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-shade);
    border-radius: 50%;
    height: 70px;
}
.about-main-content-features-item-image img{
    width: 40px;
    height: 40px;
}
.about-main-content-features-item-text {
    padding: 0 0 0 15px;
}

/*-------------------*/

